{% extends "personas/base.html" %}

{% block tittle%} Menu {% endblock %}

{% block navbar %}


        <nav>
            <div class="nav-wrapper">
              <a href="#" class="brand-logo center">PCOMPONENTES</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">

              </ul>
            </div>
        </nav>





{% endblock %}

{% block carrusel %}

   <h1>Eliminar Cliente</h1><br><br>
  <form action="eliminar_por_rut" method="POST">
     {% csrf_token %}

      <label>Ingrese rut a eliminar:</label>
      <input type="text" name="rut">
      <input type="submit" name="opcion" value="Eliminar">
  </form>

{%endblock%}
