{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

<nav>
            <div class="nav-wrapper">
              <a href="#" class="brand-logo center">PCOMPONENTES</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">

                  <li><a href="{% url 'auth_login' %}">Iniciar Sesion</a></li>




              </ul>
            </div>
        </nav>


<div class='col-sm-6 col-sm-offset-3'>
	<h2 class='text-align-center'><strong>Restablecer Contraseña</strong></h2><br/>
<form method="post" action=".">
  {% csrf_token %} 
  {{ form|crispy }}

  <input class='btn btn-block btn-primary' type="submit" value="{% trans 'Enviar' %}" />
</form>
</div>
{% endblock %}